body {
    font-family: Arial, sans-serif;
    background-color: #E3F2FD;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6F8FF;
    border-bottom: 1px solid #D9D9D9;
    height: 79px;
    position: relative;
    width: 100%;
}

.header-icons {
    display: flex;
    position: absolute;
    right: 20px;
    gap: 24px;
}

.logo img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.header-icons .icon {
    width: 25px;
    height: 28px;
    cursor: pointer;
}

.icon {
    transform: rotate(0deg);
}

.container {
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    color: #078998;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.bmi-result {
    background-color: #B3E5FC;
    border-radius: 50px;
    width: 100%;
    max-width: 418px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bmi-result h2 {
    font-size: 24px;
    font-weight: 300;
    color: #000000;
    margin: 0;
}

.bmi-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 50px;
    width: 100%;
    max-width: 1100px;
}

.bmi-category h3, .bmi-range h3, .bmi-recommendation h3 {
    font-size: 22px;
    color: #078998;
    background-color: #C8E8FF;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 30px;
    width: 300px;
}

.bmi-category, .bmi-range, .bmi-recommendation {
    display: flex;
    position: relative;
    right: 50px;
    flex-direction: column;
    justify-content: space-between;
}

.bmi-category ul, .bmi-range ul, .bmi-recommendation ul {
    list-style: none;
    padding-left: 30px;
}

.bmi-category li, .bmi-range li, .bmi-recommendation li {
    background: #B3E5FC;
    border-radius: 20px;
    padding: 5px 20px;
    margin-bottom: 10px;
    color: #078998;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    word-wrap: break-word;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.bmi-category li:first-child, 
.bmi-range li:first-child, 
.bmi-recommendation li:first-child,
.bmi-category li:nth-child(2), 
.bmi-range li:nth-child(2), 
.bmi-recommendation li:nth-child(2) {
    min-height: 70px;
}
